* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/*===== Information Section =====*/

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 0;
}

.infoSubHeading {
  padding: 10px;
}

.infoBlocks {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.infoBlock {
  width: 200px;
  padding: 20px;
}

.infoBlock h4 {
  padding-bottom: 10px;
}

.infoIcon {
  font-size: 3em;
  color: #117dbf;
}

/*===== Testimonials Section =====*/

.testimonials-container {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  text-align: center;
}

.testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}

.testimonial-block {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-bottom: 20px;
}

.testimonial-block .img-container img {
  width: 300px;
  height: auto;
}

.testimonial-block .quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  padding: 0 20px;
  background-color: #0d518c;
  height: 100%;
}

.testimonial-block .quote p {
  text-align: right;
  padding: 15px 10px;
}

/*===== Footer Section =====*/

footer {
  display: inline;
  text-align: center;
  height: 10vh;
}
