@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
html {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2px;
  background-color: #f2d338;
  align-items: center;
}

.header-title {
  padding: 10px;
}

.open-menu {
  display: flex;
  padding: 15px;
}

#main-menu {
  display: none;
}

.fa-user-circle {
  font-size: 2rem;
}

.student-section {
  display: flex;
  flex-direction: column;
}

.student-section-title {
  padding: 30px;
  /* border: 1px solid green; */
}
.student-subtitle {
  background-color: #0d518c;
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
}
#subtitle {
  padding: 20px;
}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  /*border: 1px solid purple;*/
  flex-wrap: wrap;
  margin: 20px 0 20px 0;
}

.profile-image p {
  text-align: center;
  margin: 20px 0 20px 0;
  position: relative;
  left: 20px;
}

.profile-image img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  position: relative;
}

.profile-image span {
  position: relative;
  font-size: 30px;
  z-index: 2;
  left: 50px;
}

.profile-image span:hover {
  border: 1px solid transparent;
}

.student-section-title {
  text-align: center;
  color: #0d518c;
  padding: 30px;
}

.videos-section {
  background-color: #43aed9;
  color: white;
  font-weight: bold;
}
#video-section-title {
  padding: 20px;
}

.video {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  text-align: center;
}
.video-title {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .rec-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  #main-menu {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    background: #0d518c;
    opacity: 0.9;
  }

  #main-menu li {
    padding: 10px;
    list-style-type: none;
    color: white;
  }

  #main-menu li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }

  .close-menu {
    position: absolute;
    top: 15px;
    right: 17px;
    font-size: 2rem;
  }
}
