* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
.header-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2px;
  background-color: #f2d338;
  align-items: center;
}
.open-menu {
  display: flex;
  padding: 15px;
}

#main-menu {
  display: none;
}

.fa-user-circle {
  font-size: 2rem;
}

.logo {
  width: 205px;
  padding: 10px;
}

.title-section h1 {
  text-align: center;
  padding: 20px;
}

.title-section h2 {
  padding: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.glide-container {
  display: flex;
  text-align: center;
}

.glide__arrows {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 30px;
}

.glide__arrows button {
  color: white;
  background-color: black;
  padding: 12px 30px;
  text-transform: uppercase;
  margin: 0 15px;
}

/* Tutor Section */
.tutor-availability-container {
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#tutor-profile {
  text-align: center;
  background-color: #0d518c;
  flex: 1;
  margin-bottom: 0.5em;
}

#tutor-profile p {
  padding: 0.5em;
}

#availability {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0d518c;
}

#availability p {
  padding: 0.5em;
}

.hours {
  display: flex;
  justify-content: space-around;
  background-color: #0d518c;
}

.days-container {
  display: flex;
  justify-content: space-around;
}

.days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.days span {
  padding: 0.5em 0;
  margin: 0.1em;
  border-style: solid;
  cursor: pointer;
}

#tutor-contact {
  text-align: center;
  margin: 0 0.1em 2em 0.1em;
  border-style: solid;
  padding: 0.5em;
  background-color: #f2d338;
}

@media only screen and (min-width: 1200px) {
  .tutor-availability-container {
    width: 70%;
    margin: 5em auto;
    display: flex;
  }
}
